.circle {
  position: fixed;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transform-origin: center bottom;
  scale: 1;
  z-index: 9999;
}

.pink {
  background-color: #e7dd93;
  z-index: 9999;
}

.white {
  background-color: #ffffff;
  z-index: 9999;
}

.expand {
  animation: expandCircle 1.5s ease-in-out forwards;
}

@keyframes expandCircle {
  0% {
    width: 0px;
    height: 0px;
    bottom: -10rem;
  }
  50% {
    width: 2200px;
    height: 2200px;
    bottom: -1100px;
  }
  100% {
    width: 3000px;
    height: 3000px;
    bottom: -1500px;
  }
}